*{
    margin: 0;
    padding: 0;
    background-color:#000;
    color: #fff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.topNavBar .logo{
    
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial Black';
    margin-left: 16px;
}
.topNavBar .logo .RS{
    color: #e6686a;
    
}
.topNavBar .logo .RScard{
    color:#9a9da2;
} 
.topNavBar{
    margin-top: 30px;
    margin-bottom: 30px;
}
.topNavBar nav{
    float:right;
    
}
.topNavBar nav ul li{
    float: left;
    color:#9a9da2;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    margin-top: 8px;
    margin-right: 36px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.topNavBar nav ul li:hover{
    border-bottom: 3px solid #e6686a;
}