* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei UI';
}

body {
    background-color: rgb(239, 239, 239);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

[data-x].active {
    outline: 1px solid red;
}

/* [data-x].offset {
    transform: translateY(100px)
} */

[data-x] {
    transform: translateY(0);
    transition: all 0.5s;
}

/* 
[data-x].animate {
    animation: slideUp 0.5s;
}

@keyframes slideUp {
    0% {
        transform: translateY(-30px)
    }

    100% {
        transform: translateY(0)
    }
} */

.topNavBar .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial Black';
    display: block;
    text-align: center;
}

.topNavBar .logo .RS {
    color: #e6686a;
}

.topNavBar .logo .RScard {
    margin-left: 3px;
    color: #b7b7b7;
}

.topNavBar {
    padding: 25px 0 30px;
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 1;
    color: #b7b7b7;
}

.topNavBar.sticky {
    background: white;
    padding: 15px 0 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000;
}

.topNavBar>nav>ul {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNavBar>nav>ul>li {
    margin-top: 5px;
    padding: 10px 10px;
    position: relative;
}

.topNavBar nav ul li>a {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: inherit;
}

.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: menuSlide .3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.topNavBar .submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.topNavBar li.active>.submenu {
    display: block;
    animation: submenuSlide .3s;
}

@keyframes submenuSlide {
    0% {
        margin-right: 100%;
    }

    100% {
        margin-right: 0%;
    }
}

.topNavBar .submenu>li {
    white-space: nowrap;
    padding: 5px 10px;
}

.banner {
    background-image: url(./img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
    height: 515px;
}

.banner .mask {
    height: 515px;
    background: rgba(0, 0, 0, 0.8);
}

main {
    margin-top: -340px;
}

main .content {
    max-width: 840px;
    width: 840px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

main .content .pic {
    display: inline-block;
    vertical-align: top;
}

main .content .text {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    width: 470px;
}

main .content .text .welcome {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 16px;
    background-color: #e6686a;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
    border-radius: 2px;
}

main .content .text .welcome .traingle {
    display: block;
    border: 5px solid #e6686a;
    width: 0;
    height: 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 100%;
    left: 5px
}

main .content .text h1 {
    margin-top: 20px;
}

main .content .text hr {
    margin: 20px 0 10px;
    border: none;
    border-top: 1px solid #DEDEDE;
}

main .content .text dl {
    margin-top: 6px;
}

main .content .text dt {
    float: left;
    width: 30%;
    font-weight: bold;
    margin-top: 12px;
}

main .content .text dd {
    float: right;
    width: 70%;
    margin-top: 12px;
    color: #9da0a7;
}

main .media {
    max-width: 940px;
    margin: 0 auto;
    background-color: #e6686a;
    text-align: center;
    padding: 16px 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

main .media a {
    display: inline-block;
    vertical-align: top;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    /* border: 1px solid #e6686a; */
    position: relative;
}

main .media a:nth-child(2),
main .media a:nth-child(3) {
    margin-left: 50px;
}

main .media img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
}

main .media a:hover {
    background-color: #e6a8a9;
}

main .wrapdownload {
    text-align: center;
}

main a.button {
    display: inline-block;
    margin: 32px auto;
    padding: 20px 55px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #cdcfd1;
    border-radius: 2px;
    color: black;
}

main a.button:hover {
    box-shadow: 0px 12px 30px -12px rgba(148, 145, 148, 1);
    transition: 0.1s;
}

main .intro {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.skills {
    margin: 60px auto 0;
    max-width: 940px;
}

.skills h2 {
    text-align: center;
    font-size: 34px;
}

.skills ol {
    margin-top: 30px;
    padding-bottom: 50px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    background: white;
}

.skills ol li {
    float: left;
    width: 48%;
    box-sizing: border-box;
    padding: 40px 50px 0 0;
}

.skills ol li:nth-child(odd) {
    padding-left: 40px;
}

.skills ol li h3 {
    font-weight: normal;
    font-size: 16px;
}

.skills ol li .progressBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    overflow: hidden;
}

.skills ol li .progressBar .progress {
    height: 5px;
    background: #e6686a;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}

.skills.offset ol li .progressBar .progress {
    transform: translateX(-100%);
}

.portfolio,
.message {
    /* margin: 65px auto 100px; */
    margin: 80px auto 100px;
    max-width: 940px;
    text-align: center;
}

.portfolio h2,
.message h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 34px;
}

.portfolio .swiper-container {
    width: 668px;
    height: 501px;
}

.portfolio .swiper-button-prev,
.portfolio .swiper-button-next {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    outline: none;
    margin-top: 20px;
}

form {
    width: 700px;
    margin: 50px auto;
}

section.message>ol {
    border-top: 1px solid #ddd;
    margin: 0 auto;
    max-width: 700px;
    background: #f4f4f4;
}

section.message>ol>li {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.message> form > input[type='submit']{
    display: block;
    padding: 10px 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #e06567;
    color: white;
    margin: 20px auto 0;
}
@media print {
    .portfolio {
        margin: 450px auto 0;
        padding-top: 100px;
    }
}